#contact body {
  overflow:hidden;
}

.sector {
  height:70vh;
}
.sector1 {
  /*margin-top: 9vw;*/
}

.section1, .section2 {
  width: 50%;
}

.section1 {
}

.sector1 {
  padding-top:6em;
}

.container .imgDiv {
  opacity: 0.3;
}

input, textarea {
  display: block;
  margin-bottom: 1em;
  width: 160%;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  background-color: transparent;
  border: #B6BCC9 thin solid;
  padding-left: 0.5em;
}

textarea {
  height: 50%;
}

input:focus, textarea:focus {
  background-color: rgba(182, 188, 201, 0.4);
  color: #B6BCC9;
  outline: ;ine: #B6BCC9 thin solid;
  transition: all .75s ease;
}


input:last-of-type {
  width: auto;
  color: #B6BCC9;
  padding-right: 0.5em;
}
 input:last-of-type:hover {
  background-color: rgba(182, 188, 201, 0.4);
  color: #B6BCC9;
  transition: all .75s ease;

 }

#contact .section2 {
  display: flex;
  justify-content: center;
  width: 40vw;
}



.headers {
  text-align: right;

}

.headers h1 {
  font-size: 2.5em;
  letter-spacing: 0.05em;
  line-height: 0.1em;
}

.contactInfo *{
  font-size: 0.75em;
  margin-bottom: 1em;
} 

.contactInfo li:first-of-type {
  margin-top: 3em;
  text-transform: uppercase;

}

.contactIconUL {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1em;
}
.contactIcon {
  margin-left: 0.4em;
}
.contactIcon img {
  max-width: 30px;
}

#contact input:-webkit-autofill, 
#contact textarea:-webkit-autofill, 
#contact select:-webkit-autofill {
  background-color: transparent !important;
  border: #B6BCC9 thin solid !important;
  color: #B6BCC9 !important;
  
}
.sent {
  visibility:hidden;
  
}

h3 {
  font-size:1.5em;
  text-align:center;
  margin-top:10vw;
}